.pane {
    -fx-background-color: #212121;
}
.label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.button{
    -fx-background-color: #343434;
    -fx-text-fill: white;
}
.text-area{
    -fx-background-color: #343434;
    -fx-text-fill: white;
}
.text-area .scroll-bar{
    -fx-background-color: #343434;
    -fx-text-fill: white;
}
.text-area .content{
    -fx-background-color: #343434;
    -fx-text-fill: white;
}
.tree-view .tree-cell{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.tree-view {
    -fx-background-color: #343434;
    -fx-text-fill: white;
}

.tree-view .scroll-bar{
    -fx-background-color: transparent;
}
.tree-view .thumb{
    -fx-background-color: #1e1e1e;
}
.text-area .thumb{
    -fx-background-color: #1e1e1e;
}